<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Peters Papers</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
      <form [formGroup]="searchForm" class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search User"
          aria-label="Search"
          formControlName="q"
        />
      </form>
    </div>
  </div>
</nav>

<h1 class="title">Peters Papers User List</h1>

<div class="container">
  <button
    type="button"
    id="saveUser"
    class="btn btn-primary btn-block btn-spacing"
    data-bs-toggle="modal"
    data-bs-target="#userModal"
  >
    Create User
  </button>
</div>

<div class="container">
  <table class="table table-striped table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Cell Number</th>
        <th scope="col">Department</th>
        <th scope="col">Task Count</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="users?.length == 0">
        <td colspan="9">No users found!</td>
      </tr>
      <tr *ngFor="let user of users">
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.cellNumber }}</td>
        <td>{{ user.department.name }}</td>
        <td>{{ user.tasks.length }}</td>
        <td>
          <button
            type="button"
            (click)="updateUser(user)"
            class="btn btn-success btn-sm btn-spacing"
          >
            Update User
          </button>
          <button
            type="button"
            (click)="updateTask(user)"
            class="btn btn-warning btn-sm btn-spacing"
            data-bs-toggle="modal"
            data-bs-target="#taskModal"
          >
            Update Tasks
          </button>
          <button
            type="button"
            (click)="deleteUser(user)"
            class="btn btn-danger btn-sm btn-spacing"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- TODO: Add user and tasks modal as components -->

<!--  User modal  -->
<div class="modal fade" id="userModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userModal">
          Save user
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="userForm">
          <div class="form-group">
            <label>First Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="firstName"
            />
            <div
              *ngIf="
                getControl.firstName.touched && getControl.firstName.invalid
              "
              class="text-danger"
            >
              <div *ngIf="getControl.firstName.errors.required">
                First Name is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Last Name</label>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
            />
            <div
              *ngIf="getControl.lastName.touched && getControl.lastName.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.lastName.errors.required">
                Last Name is required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" formControlName="email" />
            <div
              *ngIf="getControl.email.touched && getControl.email.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.email.errors.required">
                Email is required.
              </div>
              <div *ngIf="getControl.email.errors.email">Email is invalid.</div>
            </div>
          </div>

          <div class="form-group">
            <label>Cell Number</label>
            <input
              type="text"
              class="form-control"
              formControlName="cellNumber"
            />
            <div
              *ngIf="
                getControl.cellNumber.touched && getControl.cellNumber.invalid
              "
              class="text-danger"
            >
              <div *ngIf="getControl.cellNumber.errors.required">
                Cell Number is required.
              </div>
              <div
                *ngIf="
                  getControl.cellNumber.errors.maxlength ||
                  getControl.cellNumber.errors.minlength ||
                  getControl.cellNumber.errors.pattern
                "
              >
                10 digits are required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Department</label>
            <select formControlName="departmentId" class="form-select">
              <option value="">Select a department</option>
              <option
                *ngFor="let department of departments"
                value="{{ department.id }}"
              >
                {{ department.name }}
              </option>
            </select>
            <div
              *ngIf="
                getControl.departmentId.touched &&
                getControl.departmentId.invalid
              "
              class="text-danger"
            >
              <div *ngIf="getControl.departmentId.errors.required">
                Department is required.
              </div>
            </div>
          </div>
        </form>
        <div class="modal-footer">
          <button
            id="modalClose"
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="closeModal()"
          >
            Close
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="onUserSubmit()"
            [disabled]="userForm.invalid"
          >
            Save User
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Task modal  -->
<div class="modal fade" id="taskModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskModal">Save task</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        ></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="taskForm">
          <div
            formArrayName="tasks"
            *ngFor="let task of getTaskControl.controls; let i = index"
          >
            <div [formGroupName]="i">
              <div>
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Title</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="title"
                      />
                      <div
                        *ngIf="
                          getTaskControl.controls[i].get('title').touched &&
                          getTaskControl.controls[i].get('title').invalid
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="
                            getTaskControl.controls[i].get('title').errors
                              .required
                          "
                        >
                          Title is required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Description</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="description"
                      />
                      <div
                        *ngIf="
                          getTaskControl.controls[i].get('description')
                            .touched &&
                          getTaskControl.controls[i].get('description').invalid
                        "
                        class="text-danger"
                      >
                        <div
                          *ngIf="
                            getTaskControl.controls[i].get('description').errors
                              .required"
                        >
                          Description is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label>Due Date</label>
                      <input
                        type="date"
                        class="form-control"
                        [placeholder]="getTaskControl.controls[i].get('dueDate').value != null ? getTaskControl.controls[i].get('dueDate').value : 'Select date'"
                        type="text"
                        onfocus="(this.type='date')"
                        formControlName="dueDate"
                      />
                      <div
                        *ngIf="
                          getTaskControl.controls[i].get('dueDate').touched &&
                          getTaskControl.controls[i].get('dueDate').invalid"
                        class="text-danger"
                      >
                        <div
                          *ngIf="
                            getTaskControl.controls[i].get('dueDate').errors
                              .required"
                        >
                          Due Date is required.
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-group">
                      <label>Status</label>
                      <select
                        formControlName="taskStatusId"
                        class="form-select"
                      >
                        <option value="">Select a status</option>
                        <option
                          *ngFor="let status of taskStatuses"
                          value="{{ status.id }}"
                        >
                          {{ status.name }}
                        </option>
                      </select>
                      <div
                        *ngIf="
                          getTaskControl.controls[i].get('taskStatusId')
                            .touched &&
                          getTaskControl.controls[i].get('taskStatusId').invalid"
                        class="text-danger"
                      >
                        <div
                          *ngIf="
                            getTaskControl.controls[i].get('taskStatusId')
                              .errors.required"
                        >
                          Status is required.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="deleteTask(task.value, i)"
                >
                  Delete
                </button>
                <br />
              </div>
            </div>
          </div>
          <br />
        </form>

        <button type="button" class="btn btn-primary" (click)="addTask()">
          Add Task
        </button>
        <div class="modal-footer">
          <button
            id="taskModalClose"
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="closeModal()"
          >
            Close
          </button>
          <button
            type="button"
            [disabled]="taskForm.invalid || taskForm.value?.tasks?.length == 0"
            class="btn btn-primary"
            (click)="onTaskSubmit()"
          >
            Save Tasks
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
